@import "tailwindcss";

.animate-gradient {
    background-size: 300% 300%;
    animation: gradientBG 10s ease infinite;
  }
  
  @keyframes gradientBG {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .bg-gradient-dark {
    background-image: linear-gradient(2deg, #666565, #181819, #000000);
    /* background: linear-gradient(166deg,rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 41%, rgba(255, 3, 3, 1) 100%); */
  }